*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */
body{
    background: linear-gradient( #00ADB5,60%,#222831);
    /* background-repeat: no-repeat; */
    min-height: 100vh;
    font-family: sans-serif;
    padding: 30px;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
}
